<div class="container">
    <app-spinner *ngIf="loading"></app-spinner>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="name">Nombres</th>
                <th scope="address">Apellidos</th>
                <th scope="phone">Dirección</th>
                <th scope="email">Fecha de Nacimiento</th>
                <th scope="maxBooks">Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
    <button class="btn btn-primary" routerLink="/save-editorial">Add Editorial</button>
</div>